<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://source.unsplash.com/featured/?<%= @restaurant.category %>&<%= rand(1000) %>/800x333);">
  <div class="container">
  </div>
</div>
<div class="container mt-2">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-8">
      <p>
        <%= link_to '< Restaurants', restaurants_path, class: 'btn-light opacity-25 text-decoration-none' %>
      </p>
      <div class="d-flex align-items-center">
        <h1 class="m-0"><%= @restaurant.name %></h1>
        <p class="m-0 ms-2" style="font-size: 0.8em">
          <% @restaurant.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @restaurant.rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </p>
      </div>
      <p class="fw-lighter opacity-75 mt-2"><%= Faker::Restaurant.description  %></p>
      <h3>Reviews</h3>
      <% if @restaurant.reviews.any? %>
        <ul>
          <% @restaurant.reviews.each do |review| %>
            <div class="d-flex">
              <li><%= review.content %></li>
              <%= link_to 'x', review_path(review), method: :delete, data: { confirm: 'Delete review?' }, class: 'ms-2 btn-light' %>
            </div>
          <% end %>
        </ul>
      <% else %>
        <%= link_to "Be the first to review!", new_restaurant_review_path(@restaurant), class: 'btn btn-light' %>
      <% end %>
    </div>
    <div class="col-12 col-sm-4 mt-5">
      <h1>Add Review</h1>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.submit class: 'btn btn-primary mt-2' %>
      <% end %>
      <%= render 'restaurants/side_info' %>
    </p>
  </div>
</div>
